/*
    Los media queries al fondo.
*/

/* -------------------------------------------
    GENERAL
   ------------------------------------------- */
html {
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    max-width: 100%;
}

body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* -------------------------------------------
    Reutilizables
   ------------------------------------------- */

/* Centrado Ghost */
.block {
    text-align: center;
    white-space: nowrap;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

video {
    margin-top: 30px;
}

/* Encabezado */
.texto {
    position: absolute;
    width: 1100px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.row {
    max-width: 1150px;
}

.logo-contenedor {
    position: relative;
    width: 50%;
}

.logo {
    height: 100px;
    width: auto;
    float: left
}

.empresa {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/* Botones */
.btnR:link,
.btnR:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btnR-full:link,
.btnR-full:visited {
    background-color: #f3969a;
    border: 1px solid #f3969a;
    color: #fff;
    margin-right: 15px;
}

.btnR-transp:link,
.btnR-transp:visited {
    border: 1px solid #f3969a;
    color: #f3969a;
}

.btnR:hover,
.btnR:active {
    background-color: #f0787d;
    text-decoration: none;
}

.btnR-full:hover,
.btnR-full:active {
    background-color: #f0787d;
}

.btnR-transp:hover,
.btnR-transp:active {
    border: 1px solid #f0787d;
    color: #fff;
}

/* -------------------------------------------
    Tablas
   ------------------------------------------- */
.tabla {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    width: auto;
    max-width: 50vmax;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.menu {
    background-color: #ecf0f1;
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
}


/* -------------------------------------------
    Otros
   ------------------------------------------- */
header {
    height: 100vh;
    background-image: linear-gradient(rgba(120,194,173, 0.5), rgba(120,194,173, 0.5)), url(Img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.prueba {
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

video {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

/* -------------------------------------------
    Queries
   ------------------------------------------- */
@media screen and (max-width: 1200px) {
    .row {
        padding: 0 2%
    }
}

@media screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }
}

@media screen and (max-width:1023px) {
    body {
        font-size: 18px
    }

    /*.texto {
        width: 20px;
        padding: 0 2%;
    }*/
}

@media (max-width:991px) {
    .form-horizontal.custom-form .form-group .row [class*=col-]:first-child {
        margin-bottom: 5px
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 18px;
    }

    /*.row,
    /*.texto {
        width: 20px;
        padding: 0 2%;
    }*/
}

/*@media screen and (max-width: 400px) {
    .texto {
        width: 20px;
        padding: 0 2%;
    }
}*/

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
