
@model SMS_Sender.Core.Models.Cliente
@{
    ViewBag.Title = "EnviarEncuesta";
}

<h4 style="text-align: center;">Ingresa tu número de celular para recibir un código de Nexmo</h4>

<div class="block" style="height: 300px" ;>
    <div class="centered">
        @using (Html.BeginForm())
        {
            <div class="form">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(n => n.Celular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(n => n.Celular, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enviar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
