
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LigaBitly</title>
</head>
<body>
    <div> 
        <h2>La liga a la encuesta es la siguiente: @Url.Action(@ViewBag.liga)</h2>
    </div>
</body>
</html>
